.aText {
  font-family: sans-serif;
  font-size: 18px;
  text-anchor: middle;
}

.active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
    }

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  line-height: 1.5em;
  color: black;
  text-align: center;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.9;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
